/*-ETIQUETAS GENERALES-*/
body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    /*-Se le quita la decoracion a todas las etiquetas a-*/
    text-decoration: none;
    /*-Se le agraga cambio de cursor a las etiquetas a-*/
    cursor: pointer;
}

header{
    width: 100%;
    height: 60px;
}

main{
    margin-top: 120px;
    text-align: center;
}

/*-FIN DE ETIQUETAS GENERALES-*/


/*-Inicio del Header-*/
header nav{
    /*-Se colocan los items a la derecha-*/
    display: flex;
    justify-content: flex-end;
}

header .nav_right_section{
    /*-Se le da un tamaño-*/
    width: 250px;
    height: auto;
    /*-Se organiza y se posiciona de forma horizontal la lista-*/
    display: flex;
    /*-Se le quita la decoracion predefinida de las listas desordenadas-*/
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav_right_section a{
    /*-Se agraga un margin al lado derecho e izquierdo de cada elemento para separarlo-*/
    margin-left: 10px;
    margin-right: 10px;
    /*Se le agrega un color al contenido de las etiquetas de a*/
    color: #000000;
}

.nav_right_section .menu_icon{
    /*-De este modo se colocan imagenes desde el css de un proyecto-*/
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.nav_right_section img{
    border-radius: 50%;
}

/*-Fin del Header-*/

/*-Inicio del Main-*/
.main_logo{
    width: 510px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main_logo img{
    width: 300px;
}

.main_input{
    width: 510px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main_input_container{
    width: 505px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_input_container input{
    width: 420px;
    height: 35px;
    border: none;
    /*-El outline es para quitar el borde cuando se selecciona el input-*/
    outline: none;
}

/*-El hover es un efecto visual, cuando el ratos pasa por el contenedor-*/
.main_input_container:hover{
    /*-box-shadow es para sombras-*/
    box-shadow: 0 2px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .search_icon{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .micro_icon{
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*-Fin del Main-*/
